<H1>Data Science Tools and Ecosystem</H1>

In this Notebook, Data Science tools and ecosystem are summarized.

<B>Objectives:</B>
* List popular Programming Languages used by Data Scientists
* List popular libraries used in Data Science
* List popular Data Science Tools

Some of the popular programming languages that Data Scientists use are :
1. Python
2. Scala
3. SQL
4. R
5. Rust

Some of the commonly used libraries in Data Science are:
1. Scikit-Learn
2. Tensorflow
3. PyTorch
4. Qiskit
5. PennyLane
6. Matplotlib
7. Seaborn



| Data Science Tools | 
| -------------|
| JupyterLabs | 
| RStudio | 
| GoogleCollab |

<H3>Below are a few examples of evaluating arithmetic expressions in Python.</H3>

In [2]:
#this is a simple example of evaluating mathematical expressions in python
x = (3*4)+5
x

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
mins = 200
min_per_hour = 60
print(f'There are { mins/min_per_hour:.2f} hours in {mins} minutes')

There are 3.33 hours in 200 minutes

<H2>Author:</H2>
   Tonmoy T. Bhattacharya